*{
    font-family: "Source Serif 4", serif;
}
body{
    background-color: rgb(255, 255, 252);
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* includes padding to the sixe of an element*/ 
}
/* responsive text 

@media (max-width: 967px){
    html{
        font-size: 80%;
    }
}
@media (max-width: 768px){
    html{
        font-size: 60%;
    }
}

needs anjustment - too small
*/
header{
    position: relative;
    z-index: 1;  /* places on top of everything else */
    height: 3rem;  /* rem - relative unit */
}
.nav{
    background-color: rgb(255, 255, 252) ;
    color: #a9260e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    height: 3rem;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav div:nth-child(2){  /* target only 2nd div*/
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-weight: bolder;
}

.nav div:nth-child(2) a:nth-child(-n+3){  /* targen a element , this case: 4th*/
    color: #a9260e;
    text-decoration: none;
    padding: 0 1rem;  /* 0 - top, bottom; 1rem - left, right */
}
.nav div:nth-child(1) img{
    padding: 0 1rem; 
}
.order-nav{
    align-self: center;
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    background-color: #a9260e;
    color: rgb(255, 255, 252);
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}

@media (min-width: 801px){
    .mobile-nav{
        display: none;
    }
}
@media (max-width: 800px){
    .full-nav{
        display: none;
    }
    .mobile-nav{
        padding: 0;
    }
    .fa-times{
        padding: 0.5rem;
    }
}

/* mpbile overlay nav*/
#overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* centers text */
    text-align: center;
}
.overlay-text a{
    display: block;
    color: rgb(255, 255, 252);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    transition: all 200ms ease-in-out;

}
.fa-times{
    font-size: 4rem;
    color: rgb(255, 255, 252);
    padding: 1rem;
    transition: all 200ms ease-in-out;
}
.fa-times:hover{
    animation: rotateAnimation 200ms ease-in-out;
}
/* animation */
@keyframes rotateAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

/* hero styling */
.hero-container{
    position: relative;
    color: rgb(255, 255, 252);
}
.hero-image{
    height: auto;
    width: 100%;
    display: block;
}
.hero-text{
    position: absolute;  /* text goes over the image*/
    top: 50%;
    left: 20vw;
    transform: translate(-50%, -50%);
    text-align: left;
}
@media (max-width: 768px){
    .hero-text{
        left: 30vw;
    }
}

.hero-btn{
    /* almost the same as in nav order */
    margin: 0;
    padding: 0.5rem 2rem;
    background-color: #a9260e;
    color: rgb(255, 255, 252);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}
.hero-text h1{
    font-size: 3rem;
    margin: 1rem 0;
}
.red-spacer{
    width: 100%;
    height: 2.5rem;
    background-color: #a9260e;
}

/* pizzas */
.pizzas h2, h1{
    font-size: 2.5rem;
    text-align: center;
}

.pizza-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    max-width: 1200px;
    margin: auto;
}
.pizza-child{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 0.5rem;
    color: rgb(255, 255, 252);
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
}   
.pizza-child h4{
    font-size: 2rem;
    margin: 0;
}
.pizza-child h4:nth-child(1){
    font-size: 1.5rem;
}

.pizza-child h3{
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.add-to-cart{
    width: 50%;
    padding: 0.5rem 0rem;
    background-color: #a9260e;
    color: rgb(255, 255, 252);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
}
.add-selected{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}
.add-selected button{
    margin: 0.25rem;
    border-radius: 50%;  /* perfect circle */
    border: none;
    text-align: center;
}

.fa-minus, .fa-plus{
    font-size: 1rem;
}

@media (max-width: 768px){
    .pizza-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .pizza-child{
        width: 70%;
        margin: auto;
    }
}

/* footer */
footer{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem;
    color: #a9260e;
    font-size: 1rem;
}
footer div:nth-child(2){
    text-align: center;

}
footer div:nth-child(2) div:nth-child(1){
    display: flex;
    justify-content: center;
}
footer div:nth-child(2) div:nth-child(1) a{
    text-decoration: none;
    color: #a9260e;
    padding: 0.5rem;
    font-weight: bolder;
}
footer div:nth-child(3){
    text-align: right;
}

footer div:nth-child(1) img, footer div:nth-child(3) i{
    padding: 0.5rem;
    font-size: 2rem;
}


/* about */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto 2rem;   /* top left,right bottom*/
    max-width: 1200px;
}
.about img{
    border-radius: 0.5rem;
}

.about-child{
    width: 85%;
    text-align: center;
    color: rgb(255, 255, 252);
    border-radius: 0.5rem;
    background-color: rgb(1, 1, 1);
}
.about-child div p{
    text-align: left;
    font-size: 1rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.about-child div h2{
    font-size: 2rem;
}
.about-child div a{
    padding: 0.5rem 2rem;
    background-color: #a9260e;
    color: rgb(255, 255, 252);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    align-self: center;
}

@media (max-width: 768px){
    .about{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
    .about-child{
        padding-bottom: 3rem;
    }
}


/* order form */
form{
    color: rgb(255, 255, 252);
    width: 80%;
    background-color: rgb(1, 1, 1);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: auto;
    margin-bottom: 2rem;
}
.form1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.form-hr{
    border-color: #a9260e;
    width: 100%;
    margin: 1.5rem 0;
}
.form-input div{
    display: flex;
    flex-direction: column;
}
.form-input input{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.form-btn{
    display: flex;
    justify-content: center;
}
.form-btn button{
    padding: 0.5rem 2rem;
    background-color: #a9260e;
    color: rgb(255, 255, 252);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    align-self: center;
    margin: 1rem;
}

/* add to cart overlay */

#cart-overlay,
#select-quan-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    /* cursor: pointer; */
}

#inside-overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    /* cursor: cursor; */
    border-radius: 25px;
    transform: translate(50%, 50%);
    text-align: center;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.order-btns .add-to-cart {
    width: 80%;
    margin: .25rem 0;
}

.orderDetails {
    display: flex;
    align-content: center;
    gap: 5px;
}

.orderDetails button:nth-child(2) {
    margin: 1rem;
}

.display {
    display: block !important;
    overflow: hidden !important;
}


.fa-trash {
    font-size: 1rem;
    margin: .2rem;
}




































